In [24]:
import pandas as pd
import bz2
import json
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from utils import quotes_by_gender, unique_speaker_per_gender, get_champlex
from collections import Counter
import math
from sklearn.preprocessing import MultiLabelBinarizer

In [25]:
DATA_FOLDER = 'data/'
QUOTES_DATA = DATA_FOLDER + 'data_observational.json.bz2'

In [26]:
quotes = pd.read_json(QUOTES_DATA)

In [27]:
#quotes

In [5]:
#Transform all speakers to lower cases
quotes['speaker'] = quotes['speaker'].str.lower()

In [29]:
#Keep only female speakers
quotes_females = quotes.drop(quotes[quotes['gender'] != 'female'].index)
quotes_females.reset_index(drop = True, inplace = True)
quotes_females.shape[0]

307122

In [35]:
females_avant = quotes_females[quotes_females['label'] == 0]
females_apres = quotes_females[quotes_females['label'] == 1]

In [36]:
#Groupby speakers
grouped_females_avant = females_avant.groupby(females_avant.speaker)['numOccurrences'].count().reset_index(name='count') \
            .sort_values(['count'], ascending=False)

In [37]:
#Groupby speakers
grouped_females_apres = females_apres.groupby(females_apres.speaker)['numOccurrences'].count().reset_index(name='count') \
            .sort_values(['count'], ascending=False)

In [38]:
grouped_females_avant.shape[0]

1180

In [39]:
grouped_females_apres.shape[0]

1225

In [41]:
quotes_males = quotes[quotes['gender'] == 'male']

In [43]:
chunk1 = quotes_males[0:333333]
chunk2 = quotes_males[333334:666666]
chunk3 = quotes_males[666667:1000000]
chunk4 = quotes_males[1000001:1333333]
chunk5 = quotes_males[1333333:]

In [45]:
occupations_males = []
for chunk in [chunk1, chunk2, chunk3, chunk4, chunk5]:
    dummies_occ = pd.get_dummies(chunk['occupation'].explode()).sum(level=0)
    occupations_males.append(dummies_occ.columns.to_list())

/var/folders/n_/84v0r2b53yx61w33v8clz5500000gp/T/ipykernel_5844/1778519912.py:3: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  dummies_occ = pd.get_dummies(chunk['occupation'].explode()).sum(level=0)

In [46]:
dummies_occ_females = pd.get_dummies(quotes_females['occupation'].explode()).sum(level=0)

/var/folders/n_/84v0r2b53yx61w33v8clz5500000gp/T/ipykernel_5844/3975266607.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  dummies_occ_females = pd.get_dummies(quotes_females['occupation'].explode()).sum(level=0)

In [47]:
occupations_females = dummies_occ_females.columns.to_list()

In [48]:
all_occupations_males = []
for l in occupations_males:
    all_occupations_males = all_occupations_males + l

all_occupations = all_occupations_males + occupations_females
all_occupations_without_duplicates = list(set(all_occupations))

In [50]:
len(all_occupations_without_duplicates)

958

In [51]:
textfile = open("all_occupations_file.txt", "w")
for element in all_occupations_without_duplicates:
    textfile.write(element + "\n")
textfile.close()

In [57]:
academic_degree_males = []
for chunk in [chunk1, chunk2, chunk3, chunk4, chunk5]:
    dummies_academic = pd.get_dummies(chunk['academic_degree'].explode()).sum(level=0)
    academic_degree_males.append(dummies_academic.columns.to_list())

/var/folders/n_/84v0r2b53yx61w33v8clz5500000gp/T/ipykernel_5844/333431356.py:3: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  dummies_academic = pd.get_dummies(chunk['academic_degree'].explode()).sum(level=0)

In [58]:
dummies_academic_degree = pd.get_dummies(quotes_females['academic_degree'].explode()).sum(level = 0)

/var/folders/n_/84v0r2b53yx61w33v8clz5500000gp/T/ipykernel_5844/1796012728.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  dummies_academic_degree = pd.get_dummies(quotes_females['academic_degree'].explode()).sum(level = 0)

In [59]:
academic_degree_females = dummies_academic_degree.columns.to_list()

In [60]:
all_academic_males = []
for l in academic_degree_males:
    all_academic_males = all_academic_males + l

all_academic = all_academic_males + academic_degree_females
all_academic_without_duplicates = list(set(all_academic))

In [63]:
textfile = open("all_academic_file.txt", "w")
for element in all_academic_without_duplicates:
    textfile.write(element + "\n")
textfile.close()

In [ ]:
#dummies_gender = pd.get_dummies(quotes['gender'])

In [13]:
dummies_academic_degree = pd.get_dummies(quotes_females['academic_degree'].explode()).sum(level = 0)

/var/folders/n_/84v0r2b53yx61w33v8clz5500000gp/T/ipykernel_5844/3444282521.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  dummies_academic_degree = pd.get_dummies(quotes['academic_degree'].explode()).sum(level = 0)

In [22]:
academic_degree = dummies_academic_degree.columns.to_list()

In [21]:
textfile = open("occupation_file.txt", "w")
for element in occupations:
    textfile.write(element + "\n")
textfile.close()

In [23]:
textfile = open("academic_degree_file.txt", "w")
for element in academic_degree:
    textfile.write(element + "\n")
textfile.close()